/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/montserrat-v18-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v18-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-500 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../fonts/montserrat-v18-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v18-latin_cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* oswald-500 - cyrillic */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../fonts/oswald-v40-cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/oswald-v40-cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* common */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
.container {
  margin: 0 auto;
  width: 1278px;
}

/* header */
.header {
  padding: 31px 0;
  font-weight: 500;
  color: #060D10;
  background-color: #66D1FF;
}
.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .btn {
  display: inline-block;
  padding: 8px 41px;

  font-size: 24px;
  line-height: 29px;
  text-decoration: none;
  text-align: center;
  color: inherit;

  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 4px;
}
.header-logo {
  width: 296px;
}
.header-phone {
  font-size: 28px;
  line-height: 34px;
  color: inherit;
  text-decoration: none;
}

/* promo */
.promo {
  color: #fff;
  text-shadow: 1px 1px 2px #060D10;

  background-image: url('../images/promo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.promo-fade {
  padding: 240px 0 260px;
  background-color: rgba(6, 13, 16, .25);
}
.promo-title {
  margin-bottom: 60px;
  font-family: 'Oswald';
  font-size: 60px;
  line-height: 89px;
  text-transform: uppercase;
  text-align: center;
}
.promo-text {
  margin: 0;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
}

/* about */
.about {
  padding: 170px 0;
  background-color: rgba(102, 209, 255, .1);
}
.about-title {
  font-size: 0;
  opacity: 0;
}
.about-slogan {
  margin-top: 0;
  margin-bottom: 30px;

  font-family: 'Oswald';
  font-size: 48px;
  line-height: 167%;
  text-transform: uppercase;
  text-align: center;
}
.about ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;

  margin: 0 -15px;
  padding: 0;

  list-style: none;
}
.about li {
  flex-basis: 33.3%;
  margin-top: 70px;
  padding: 0 15px;
}
.about-caption {
  margin-top: 0;
  margin-bottom: 25px;

  font-family: 'Oswald';
  font-size: 32px;
  line-height: 167%;
  text-transform: uppercase;
}
.about-text {
  margin: 0;

  font-weight: 400;
  font-size: 26px;
  line-height: 140%;
  opacity: 0.8;
}
/* lead */
.lead {
  padding: 170px 0 180px;
  /* градиент начинается не в том месте */
  background: linear-gradient(208.35deg, rgba(102, 209, 255, .1) 43.85%, rgba(196, 196, 196, 0) 43.86%);
}
.lead-slogan {
  margin-top: 0;
  margin-bottom: 60px;

  font-family: 'Oswald';
  font-size: 48px;
  line-height: 167%;
  text-transform: uppercase;
  text-align: center;
}
.lead a {
  display: inline-block;

  padding: 20px 107px;
  width: 505px;

  font-size: 36px;
  line-height: 44px;
  text-decoration: none;
  text-align: center;
  /* не знаю как центрировать */
  color: inherit;

  border: 3px solid #060D10;
  border-radius: 4px;
}
.lead ul {
  display: flex;
  justify-content: space-between;

  margin-top: 130px;
  margin-bottom: 0;
  padding: 0;

  list-style: none;
}
.lead-pic {
  width: 297px;
  height: 297px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* footer */
.footer {
  padding: 35px 0;
  color: #fff;
  background-color: #060D10;
}
.footer-wrap {
  display: flex;
  align-items: center;
}
.footer-slogan {
  margin-right: 50px;
  font-weight: 500;
  font-size: 20px;
  line-height: 167%;
}
.footer ul {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer li {
  margin-right: 20px;
  height: 40px;
  /* без заданной высоты почему-то автоматически ставится 60px и не поддаётся выравниваю */
}

.twitter-icon {
  height: 40px;
  width: 40px;
  background-image: url('../images/twitter.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.li-icon {
  height: 40px;
  width: 40px;
  background-image: url('../images/linkedin.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.google-icon {
  height: 40px;
  width: 40px;
  background-image: url('../images/google.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.facebook-icon {
  height: 40px;
  width: 40px;
  background-image: url('../images/facebook.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.social-text {
  font-size: 0;
  opacity: 0;
}

.copyright {
  margin-left: auto;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}
