/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/montserrat-v18-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v18-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-500 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../fonts/montserrat-v18-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v18-latin_cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* oswald-500 - cyrillic */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../fonts/oswald-v40-cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/oswald-v40-cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* common */
body {
  font-family: 'Montserrat', sans-serif;

}
/* header */
.header {
  color: #060D10;
  background-color: #66D1FF;
  font-weight: 500;
}
.header a {
  font-size: 24px;
  line-height: 29px;
  text-decoration: none;
  color: inherit;
}
.header-phone {
  font-size: 28px;
  line-height: 34px;
}

/* promo */
.promo {
  color: #fff;
  background-color: gray;
  text-shadow: 1px 1px 2px #060D10;
}
.promo-title {
  font-family: 'Oswald';
  font-size: 60px;
  line-height: 89px;
  text-transform: uppercase;
}
.promo-text {
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
}

/* about */
.about {
  background-color: rgba(102, 209, 255, .1);
}
.about-slogan {
  font-family: 'Oswald';
  font-size: 48px;
  line-height: 167%;
  text-transform: uppercase;
}
.about-caption {
  font-family: 'Oswald';
  font-size: 32px;
  line-height: 167%;
  text-transform: uppercase;
}
.about-text {
  font-weight: 400;
  font-size: 26px;
  line-height: 140%;
  opacity: 0.8;
}
/* lead */
.lead-slogan {
  font-family: 'Oswald';
  font-size: 48px;
  line-height: 167%;
  text-transform: uppercase;
}
.lead a {
  font-size: 36px;
  line-height: 44px;
  text-decoration: none;
  color: inherit;
}
/* footer */
.footer {
  color: #fff;
  background-color: #060D10;
}
.footer-slogan {
  font-weight: 500;
  font-size: 20px;
  line-height: 167%;
}
.copyright {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}
