/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/montserrat-v18-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v18-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-500 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../fonts/montserrat-v18-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v18-latin_cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* oswald-500 - cyrillic */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../fonts/oswald-v40-cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/oswald-v40-cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* common */
body {
  font-family: 'Montserrat', sans-serif;
}
.container {
  width: 1278px;
  margin: 0 auto;
  border: 1px dotted orange;
}

/* header */
.header {
  color: #060D10;
  background-color: #66D1FF;
  font-weight: 500;
}
.header a {
  width: 276px;
  font-size: 24px;
  line-height: 29px;
  text-decoration: none;
  text-align: center;
  color: inherit;
  background: #fff;
  border: 2px solid #fff;
  border-radius: 4px;
  padding: 8px 41px;
}
.header-phone {
  font-size: 28px;
  line-height: 34px;
}

/* promo */
.promo {
  color: #fff;
  background-image: url('../images/promo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-shadow: 1px 1px 2px #060D10;
}
.promo-fade {
  padding: 240px 0 260px;
  background-color: rgba(6, 13, 16, .25);
}
.promo-title {
  font-family: 'Oswald';
  font-size: 60px;
  line-height: 89px;
  text-transform: uppercase;
  text-align: center;
}
.promo-text {
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
}

/* about */
.about {
  padding: 170px 0;
  background-color: rgba(102, 209, 255, .1);
}
.about-slogan {
  font-family: 'Oswald';
  font-size: 48px;
  line-height: 167%;
  text-transform: uppercase;
  text-align: center;
}
.about-item {
  width: 406px;
}
.about-caption {
  font-family: 'Oswald';
  font-size: 32px;
  line-height: 167%;
  text-transform: uppercase;
}
.about-text {
  font-weight: 400;
  font-size: 26px;
  line-height: 140%;
  opacity: 0.8;
}
/* lead */
.lead {
  padding: 170px 0 180px;
}
.lead-slogan {
  font-family: 'Oswald';
  font-size: 48px;
  line-height: 167%;
  text-transform: uppercase;
  text-align: center;
}
.lead a {
  width: 505px;
  font-size: 36px;
  line-height: 44px;
  text-decoration: none;
  color: inherit;
  border: 3px solid #060D10;
  border-radius: 4px;
  padding: 20px 107px 22px;
}
.lead-pic {
  width: 297px;
  height: 297px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #C4C4C4;
}
/* footer */
.footer {
  color: #fff;
  background-color: #060D10;
}
.footer-slogan {
  font-weight: 500;
  font-size: 20px;
  line-height: 167%;
}
.copyright {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}
